<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Some website</title>
    </header>
    <body>
        <header>
            <h1>{{screamIt pageTitle}}</h1>
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/projects">projects</a>
        </header>